@import "tailwindcss";

html,
body,
#root{

    width:100%;
    min-height:100%;
}

body{

    font-family:'Plus Jakarta Sans',sans-serif;

    background:#F8FAFC;

    color:#0F172A;
}

*{

    box-sizing:border-box;
}